.App {
  text-align: center;
}

.img-wrapper img{
  width:100px
}
.cart-wrapper{
  height: 125px;
    width: 500px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-wraper button{
    background: chocolate;
    padding: 10px;
    color: white;
    border-radius: 4px;
    box-shadow: #333 0px 1px 5px;
}
.add-to-cart img {
  width: 83px;
  position: absolute;
  right: 1%;
  top: 1%;
}
